.trwo{
    background-color: pink;
    height: 75px;
}

.tdata{
    background-color: green;
    width: 75px;
    border: 1px solid black;
    font-size: 50px;
}

.xb{
    border: 5px solid rgb(212, 28, 28);
}