<table class="gameTable">
    <tbody>
        <tr>
            <td (click)="getClass()" class="contains-x">x</td>
            <td (click)="getClass()"></td>
            <td (click)="getClass()"></td>
        </tr>
        <tr>
            <td (click)="getClass()" ></td>
            <td (click)="getClass()"  class="contains-o">o</td>
            <td (click)="getClass()" ></td>
        </tr>
        <tr>
            <td (click)="getClass()" ></td>
            <td (click)="getClass()" ></td>
            <td (click)="getClass()" class="contains-x">x</td>
        </tr>
    </tbody>
</table>