/* You can add global styles to this file, and also import other style files */
body{
    margin: 0 auto;
    max-width: 720px;
  //  background-color: rgb(240, 214, 214);
    background-color: rgb(151, 139, 139);
}