<div fxLayoutAlign="center center" fxLayout="column"> 
    <h3>Try to connect {{gameData.gameConnects}}</h3>

    <!-- Form  -->

    <form fxFlex="60" class="myForm" fxLayoutGap="8px" fxLayoutAlign="center center" [formGroup]="gameDetails" fxLayout="row" >

        <mat-form-field fxFlex.xs="10" fxFlex="15" appearance="outline">
            <mat-label>Rows:</mat-label> 
                <input type="number" matInput formControlName="gameRow" #rows >
        </mat-form-field>

        <mat-form-field fxFlex.xs="10"  fxFlex="15" appearance="outline">
            <mat-label>Columns:</mat-label>
            <input type="number" matInput formControlName="gameCol">
        </mat-form-field>

        <mat-form-field fxFlex.xs="10" fxFlex="15" appearance="outline">
            <mat-label>Connects:</mat-label>
            <input type="number" matInput formControlName="gameConnects">
        </mat-form-field>
        <span fxFlex="15" fxFlex.xs="5" >
            <button color="primary" mat-raised-button [disabled]="IsConfigure()"  (click)="disp()" type="submit">Configure</button>
        </span>
    </form>

    <div fxFlex="100" class="turn-area">
        <h4 fxFlex="100" [class]="getPlayerColor()"
            *ngIf="board.count<(board.boardContent.length*board.boardContent[0].length) && !board.currentWinerIx">Player
            {{playerNames[board.currentPlayerIx] }} Turn</h4>
    </div>

    <!-- Table Grid  -->

    <div class="gameTable">
        
        <table>
            <tbody>
                <tr fxLayoutAlign="center center" *ngFor="let r of board.boardContent ;let i = index">
                    <td [style]="tdStyle" *ngFor="let c of board.boardContent[i] ; let j = index" (click)="board.Myset(i,j)"
                        [class]="getStyle(i,j)">{{getPlayerName(i,j)}}</td>
                </tr>
            </tbody>
        </table>
        <div class="WinnerArea">
            <div class="winner winner-o" *ngIf="board.currentWinerIx > 0 && getResult()==='o'">The Winer is {{getResult()}}
            </div>
            <div class="winner winner-x" *ngIf="board.currentWinerIx > 0 && getResult()==='x'">The Winer is {{getResult()}}
            </div>
            <div class="winner draw"
                *ngIf="(board.count>=board.boardContent.length*board.boardContent[0].length) && !board.currentWinerIx">The
                match is Draw</div>
        </div>
        <button mat-raised-button (click)="playAudio()" >Play Audio</button>
        <button mat-raised-button [disabled]="board.count < 1" (click)="board.reset(gameDetails.value.gameRow,gameDetails.value.gameCol, gameDetails.value.gameConnects)">Restart</button>
        <!-- Demo Comment -->
        
    </div>
</div>